*{
    box-sizing: border-box;
}
body{
    background-image: url("https://i.ibb.co/chcbzb9/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FAFAFA;
}
h2{
    padding-left: 50px;
    padding-top: 50px;
}
nav a{
    padding: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: none;
    color:#3DB4AB;
    font-weight: bold;
}
input[type=number] {
    -moz-appearance: textfield;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.crowdfund-container{
    margin-top: 300px; 
}
nav{
  float: right;
}
h2{
    color: white;
}
.modal-hide{
    display: none;
}
.intro-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 25px;
}

.crowdfund-track{
    margin:  50px auto;
    text-align: center;
    background-color: white;
    height: 200px;
    width: 700px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
}
.backPledge{
    background-color:#3DB4AB;
    color: white;
    border-radius: 30px;
    padding: 25px;
    font-size: 17px;
    font-weight: bold;
    border: none;
}
.vl{
    border-left: 1px solid lightgray;
  height: 40px;
  position: absolute;
  left: 58%;
  margin-left: -3px;
  bottom: 20px;
}
.vl2{
    border-left: 1px solid lightgray;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom:20px;
}
.pledge-reward-button{
    background-color: #3DB4AB;
    border-radius: 30px;
    height: 40px;
    color:white;
    margin-top: 5px;
    width: 150px;
    border: none;
}
.pledgeAmnt{
    display: flex;
    flex-direction: column;
}
.pledgeAmnt p:first-child{
    font-size: 30px;
    font-weight: bold;
}
.pledgeAmnt p:nth-child(2){
    font-size: 15px;
    margin-bottom: 330px;
}
.backers{
    display: flex;
    flex-direction: column;
}
.backers p{
    font-size: 15px;
    margin-top: 15px;
}
.backers span{
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.days-left p{
    font-size: 30px;
    font-weight: bold;
}
.days-left span{
    font-size: 15px;
}
.info{
    background-color: white;
    width: 700px;
    margin: 50px auto;
    padding: 15px;
    line-height: 25px;
    letter-spacing: .6px;
    text-align: justify;
}
.crowdfund{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 50px auto;
    padding: 15px;
    justify-content: space-around;
    text-align: justify;
    line-height: 25px;
}
#crowdfund-option-3{
    color: lightgray;
}
#crowdfund-option-3 span{
    color:#CBCBCB;
    font-weight: bolder;
}
#crowdfund-option-3 button{
    background-color: #CBCBCB;
}
#crowdfund-option-3 h3{
    color:#CBCBCB;
    font-weight: bolder;
}
span{
    font-size: 30px;
}
.pledge-color{
    color:#3DB4AB;
}
.pledge-color-1{
    color:#E0F2EF
}
.btn btn-primary{
    background-color: #3DB4AB;
    border-radius: 30px;
    height: 40px;
    color:white;
    margin-top: 5px;
    width: 150px;
    border: none;
}
#bamboo-stand{
    margin-top: 7px;
}
label{
    font-weight: bold;
}
#no-reward-pledge label{
    margin-bottom: 10px;
}
.pledge-border{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.pledge-option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 50px auto;
    text-align: justify;
    padding: 20px;
}
.pledge-option span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 300px;
}
.pledgeButton{
    background-color: #c1edea;
    border-radius: 30px;
    height: 40px;
    color:white;
    margin-top: 5px;
    width: 150px;
    border: none;
}
.pledgeButtonJs{
    background-color: #3DB4AB;
}
hr
{
width: 100%;
color: lightgray;
height: 1px;

}
.pledge-option label, .pledge-color{
    padding-left: 15px;
    font-weight: bold;
}
.pledge-option input[type="number"]{
    width: 65px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 10px;
    border: none;
    padding: 7px;
    text-align: center;
    background-image: url("https://i.ibb.co/NnqnV66/icon-dollar-1.png");
    background-repeat: no-repeat;
    background-position:left;
}
#crowdfund-option-2-modal span{
    margin-left: 265px;
}
.modal-body2{
    background-image: url("https://i.ibb.co/5TFsyNz/icon-check-1.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.modal-body2 h1{
    text-align: center;
    margin-top: 100px;
}
.modal-body2 p{
    text-align: justify;
    padding:20px;
}
@media only screen and (max-width: 1200px) and (min-width: 1025px){
    nav{
        margin-right: 25%;
    }
    .info{
        width: 45%;
        margin-left:12%;
    }
    .intro-block{
        margin-left: 3%;

    }
    .crowdfund-track{
        margin-left: 2%;
    }
    .modal-content{
        width: 75%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px){

    .info{
        width: 45%;
        margin-left:20%;
    }
    .intro-block{
        margin-left: 15%;
        width: 55%;
    }
    .crowdfund-track{
        margin-left: 10%;
        width: 65%;
    }
    .modal-content{
        width: 85%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
    nav a{
        padding: 5%;
    }
    nav{
        float: none;
        margin-left:10%;
    }
    .info{
        width: 70%;
        margin-left: 10%;
    }
    .intro-block{
        width: 70%;
        margin-left: 10%;
    }
    .crowdfund-track{
        width: 70%;
        margin-left: 10%;
    }
    .crowdfund-container{
        margin-top: 3%;
    }
    .modal-content{
        width: 80%;
    }
    .pledge-option input[type="number"]{
        margin-left: 0%;
    }
    .pledge-option span{
        margin-left: 30px;
    }
    #crowdfund-option-2-modal span{
        margin-left: 30px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px){
    nav a{
        padding: 5%;
    }
    nav{
        float: none;
        margin-left:10%;
    }
    .info{
        width: 70%;
        margin-left: 10%;
    }
    .intro-block{
        width: 70%;
        margin-left: 10%;
    }
    .crowdfund-track{
        width: 70%;
        margin-left: 10%;
    }
    .crowdfund-container{
        margin-top: 3%;
    }
    .modal-content{
        width: 80%;
    }
    .pledge-option input[type="number"]{
        margin-left: 0%;
    }
    .pledge-option span{
        margin-left: 30px;
    }
    #crowdfund-option-2-modal span{
        margin-left: 30px;
    }
}